.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.sidebarRow > h4 {
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root {
    font-size: xx-large;
<<<<<<< HEAD
    color: #F05524;
}
=======
    color: #440a67;
}
>>>>>>> 1f76b91f7a803768f719ae9625aafcd4eac4c9a4
